html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Patching_dream.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.actions {
    margin-right: 30px;
}

.actions-link {
    margin: 0 20px 0 20px;
}


.banner {
    border-bottom: 2px solid black; 
    margin-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;;
}

.banner-display {
    border: solid 1px black;
}

.body-login {
    background-image: url('../images/knurlie.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff; /* Change this to the desired background color */
    color: #fff; /* Change this to the desired text color */
    border: 2px solid #007bff; /* Change this to the desired border color */
    border-radius: 5px;
    font-weight: bold;
}

.btn-delete {
    margin-top: 0;
}

.btn-login {
    background-color: green;
}

.btn-logout {
        margin-left: 40px;
}

.btn-post {
    margin-top: 10px;
}

.btn-primary {
    width:fit-content;
}

.container {
    background-color: black;
    height: 100%;
    width: 120%;
    padding: 20px;
}

.description {
    margin: 20px;
    height: 300px;
}

.display-container {
    width: 70%;
    height: 80%;
    background-color: antiquewhite;
    border: solid 2px rgb(243, 239, 239);
}

.display-label {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.display-content {
    position: absolute;
    left: 270px;
    font-size: 36px;
    margin: 0;
}

.display-main-panel {
    border: solid 2px red;
    height: 100%;
    width: 100%;
}

.display-module-descript {
    position: relative;
    border: solid 2px blue;
    height: 95%;
    padding: 20px;
    width: 60%;
}

.display-module-photo {
    border: solid 2px green;
    height: 95%;
    width: 40%;
    
}

.error_message {
    color: red;
}

.file_controls {
    background-color: azure;
    height: 40px;
}

.form-control {
    border: solid 2px yellow;
}

.form-label {
    /* white-space: nowrap; */
    color: whitesmoke;
    width: 25ch;
}

H1 {
    color: purple;
}

H2 {
    margin-bottom: 20px;
    margin-left: 30px;
}

.H2-create-edit {
    color: yellow;
}

.hp-label {
    color: whitesmoke;
    margin-left: 8px;
    margin-right: 20px;
}

.label-finish {
    margin-right: 0;
}

.main-container {
    background-color: rgb(218, 175, 238);
}

.module-attributes {
    background-color: pink;
    width: 1400px; 
}

.module-attributes-left {
    border: 0.5px solid orange;
    margin: 20px;
    padding: 30px;
    width: 500px;

}
.module-attributes-right {
    border: 2px solid orange;
    margin: 20px;
    padding: 50px 30px 30px 30px;
    width: 220px;
}

.one_u {
    margin-left: 20px;
}

.one_u-label {
    color: white;
    margin-left: 10px;
}

.panel-left {
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 40px;
    padding: 40px 40px;
    width: auto;
}

.panel-right {
    background-color: whitesmoke;
    background-color: whitesmoke;
    height: 400px;
    margin-left: 20px;
    margin-right: 100px;
    padding: 40px 40px;
    width: auto;
    
}

.photo {
    background-image: url(../images/default-no-image.jpeg);
    background-repeat: no-repeat;
    width: 100%;
}

.post-entry {
    background-color: black;
}

.price-shipping {
    margin-top: 20px;
}

.size-finish {
    width: 80%;
}

.size-finish-content {
    position: unset;
}

.table {
    width: 100%;
}
